<br />
<div class="card">
    <h1>Create Your Own Bouquet</h1>
    <br />
    <p-splitter [style]="{'height': '300px'}" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                hahah choose items
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="pl-4">
                <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custombar1">
                    <h4>Container</h4>
                    <div>

                    </div>
                    <h4>Flowers</h4>
                    <div></div>
                    <h4>Decorations</h4>
                    <div></div>
                </p-scrollPanel>
            </div>
        </ng-template>
    </p-splitter>
</div>