<br />
<div class="card">



    <p-dataView #dv [value]="filteredFlowers" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <div>
                    <span>Filter By Flower Color: </span>
                    <p-dropdown placeholder="Select a Color" [options]="listColor" [(ngModel)]="selectedFlowerColor"
                        (onChange)="onChangeFlowerFilter($event)" defaultLabel="Select Flower Color2">
                    </p-dropdown>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>Filter By Flower Type: </span>
                    <p-dropdown placeholder="Select a Type" [options]="listType" [(ngModel)]="selectedFlowerType"
                        (onChange)="onChangeFlowerFilter($event)" defaultLabel="Select Flower Color2">
                    </p-dropdown>
                </div>
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name"
                        (input)="dv.filter($any($event.target).value, 'contains')">
                </span>

            </div>
        </ng-template>
        <ng-template let-flower pTemplate="gridItem" columns="4">
            <div class="col-12 md:col-3">
                <br />
                <div class="flower-grid-item card">
                    <div class="flower-grid-item-top">
                        <div>
                            <span id="flowerColorText" class="flower-color">{{flower.flowerColor}}</span>
                            <div class="flower-type">{{flower.flowerType.name}}</div>
                        </div>
                    </div>
                    <br />
                    <div class="flower-grid-item-content">
                        <img [src]="'http://localhost:8080/BouquetStorySystem-war/' + flower.imgAddress" />
                        <br />
                        <div class="flower-name">{{flower.name}}</div>
                        <br />

                        <div class="flower-description">{{flower.description}}</div>
                    </div>
                    <!-- <div class="flower-grid-item-bottom">
                        <span class="flower-price">${{flower.unitPrice}}</span>
                    </div> -->
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">&nbsp;</ng-template>
    </p-dataView>

    <!-- <p-table [value]="allFlowerTypes">
        <ng-template pTemplate="header">
            <tr>
                <th>Flower Type ID</th>
                <th>Flower Type Name</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-flowerType>
            <tr>
                <td>{{flowerType.flowerTypeId}}</td>
                <td>{{flowerType.name}}</td>
            </tr>
        </ng-template>
    </p-table> -->
</div>