<br />
<div class="card">
    <p-dataView #dv [value]="flowers" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"
                    styleClass="mb-2 md:mb-0"></p-dropdown>
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name"
                        (input)="applyFilterGlobal($event, dv)">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-flower pTemplate="gridItem">
            <div class="p-col-12 md:col-4">
                <div class="flower-grid-item card">
                    <div class="flower-grid-item-top">
                        <div>
                            <span class="flower-category">{{flower.color}}</span>
                        </div>
                    </div>
                    <div class="flower-grid-item-content">
                        <div class="flower-name">{{flower.name}}</div>
                        <div class="flower-description">{{flower.description}}</div>
                    </div>
                    <div class="flower-grid-item-bottom">
                        <span class="flower-price">${{flower.unitPrice}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">Test Footer</ng-template>
    </p-dataView>


    <!-- <p-table [value]="flowers">
        <ng-template pTemplate="header">
            <tr>
                <th>Flower ID</th>
                <th>Flower Name</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-flower>
            <tr>
                <td>{{flower.flowerId}}</td>
                <td>{{flower.name}}</td>
            </tr>
        </ng-template>
    </p-table> -->
</div>