<br />
<div class="card">
    <h2>Shopping Cart</h2>
    <!-- <p-toast></p-toast> -->

    <!-- <div class="card"> -->

    <p-table #dt [value]="saleTransactionLineItems!" [rows]="10" responsiveLayout="scroll" [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <!-- <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Addresses</h5>
            </div>
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th>
                    SN
                </th>
                <th>
                    Item Id
                </th>
                <th>
                    Image
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Subtotal
                </th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lineItem>
            <tr>
                <td>{{lineItem?.serialNumber}}</td>
                <!-- remove the item id column later, i used to debug only -->
                <td>{{lineItem?.item?.itemId}}</td>
                <td>item image</td>
                <td>item name somehow</td>
                <td>{{lineItem?.unitPrice}}</td>
                <td>
                    <p-inputNumber [showButtons]="true" buttonLayout="vertical" spinnerMode="horizontal" [min]="1"
                        [(ngModel)]="lineItem.quantity" (onInput)="updateTotalStuff($event)"></p-inputNumber>
                </td>
                <td>
                    <div [innerHTML]="'$' + getSubtotal(lineItem)"></div>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-trash" label="Remove" class="p-button-rounded p-button-warning"
                        (click)="removeCartItem(lineItem)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-end">
                <div class="pr-8">
                    Total Number of Items: {{totalQuantity}}
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="pr-8">
                    Total Amonut: ${{totalPriceAmount}}
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="pr-8">
                    <p-button label="Checkout" class="p-button-lg"></p-button>
                </div>
            </div>
        </ng-template>
    </p-table>
</div>