<br />

<div class="card">
    <section id="navSectionLeft">
        <h2>My Profile</h2>
        <div>
            <p-menu [model]="profileMenuItems"></p-menu>
        </div>
        <br />
        <h2>My Orders</h2>
        <div>
            <p-menu [model]="myOrderMenuItems"></p-menu>
        </div>
    </section>
    <section id="ordersSectionRight">
        <div class="cardMyOrders">
            Hello
            <div> whattttttttttttttttttttttttttt</div>
        </div>
    </section>
</div>