<br />

<div class="card">
    <section class="col-3" id="navSectionLeft">
        <h2>My Profile</h2>
        <div>
            <p-menu class="menu" [model]="profileMenuItems"></p-menu>
        </div>
        <br />
        <h2>My Orders</h2>
        <div>
            <p-menu class="menu" [model]="myOrderMenuItems"></p-menu>
        </div>
    </section>
    <section class="col-7" id="ordersSectionRight">
        <div class="cardMyOrders">
            Hello
            <div> whattttttttttttttttttttttttttt</div>
        </div>
    </section>
</div>