.content {
    /* height: 100vh;
    width: 100vw;
    background: url('/assets/background.png');
    background-size: cover;
    padding: 0%; */
    margin: 0;
}

.header {
    margin:0;
}

/* .wrapper {
    height: 100vh;
    width: 100vw;
    background: url('/assets/background.png');
    background-size: cover;
    margin: 0;
} */